*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body{
  background:
  linear-gradient(
  135deg,
  #0f172a,
  #1e293b);
  min-height:100vh;
}

.container{
  width:90%;
  margin:auto;
  padding:30px;
}

.title{
  text-align:center;
  color:white;
  margin-bottom:25px;
  font-size:3rem;
}

.filter-bar{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
  margin-bottom:30px;
}

.filter-bar input,
.filter-bar select{
  padding:12px;
  border:none;
  border-radius:12px;
  flex:1;
}

.grid{
  display:grid;
  grid-template-columns:
  repeat(4,1fr);
  gap:20px;
}

.card{
  background:rgba(255,255,255,.1);
  backdrop-filter:blur(15px);

  border-radius:20px;
  overflow:hidden;

  transition:.3s;
  color:white;
}

.card:hover{
  transform:translateY(-8px);
}

.card img{
  width:100%;
  height:250px;
  object-fit:contain;
  background:white;
}

.card-body{
  padding:15px;
}

.card-body h3{
  font-size:1rem;
  height:60px;
}

.rating{
  margin:10px 0;
}

.actions{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.actions button{
  flex:1;
  border:none;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

.cart-btn{
  background:#22c55e;
  color:white;
}

.pagination{
  margin-top:30px;
  text-align:center;
}

.pagination button{
  margin:5px;
  padding:10px 15px;
  border:none;
  border-radius:10px;
}

.active{
  background:#3b82f6;
  color:white;
}

.modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);

  display:flex;
  justify-content:center;
  align-items:center;
}

.modal{
  background:white;
  max-width:700px;
  width:90%;
  padding:25px;
  border-radius:20px;
  position:relative;
}

.modal img{
  width:200px;
  display:block;
  margin:auto;
}

.close-btn{
  position:absolute;
  right:20px;
  top:20px;
  border:none;
  background:red;
  color:white;
  width:35px;
  height:35px;
  border-radius:50%;
}

.loading,
.error{
  color:white;
  text-align:center;
  margin-top:100px;
}

@media(max-width:1024px){
  .grid{
    grid-template-columns:
    repeat(2,1fr);
  }
}

@media(max-width:768px){
  .grid{
    grid-template-columns:1fr;
  }
}